@import url('https://fonts.googleapis.com/css?family=Secular+One&subset=hebrew');

/*  Main  */
* {
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #000;
    font-family: 'Secular One', sans-serif;
    font-size: 13px;
}

a, 
a:visited
{
    text-decoration: underline;
    color: #000000;
    transition: all 0.2s linear;
}

 a:hover,
a:active {
    color: #1EC794;
}

#floatimage {
    z-index: 100;
}

.floating-image {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 50%;
    background-color: #eee;
    background-image: url('../te.jpg');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.floating-image .credits {
    padding: 48px;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
    font-family: 'Secular One', sans-serif;
    height: 96px;
    width: 100%;
}
.floating-image .credits a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

#floatimage {
position: fixed; 
    top: 600px; 
    left: 60%;
}
#floatimage .tooltip {
    display: none;
    border-radius: 4px;
    width:140px;
    position: absolute;
    left: -50px;
    top:40px;
    background: #1A1A1A;
    padding: 8px;
    color:#fff;
    text-align: center;
    direction: rtl;
}
#floatimage:hover .tooltip {
display: block;
}
#wrapper {
    padding: 48px;
    background: #fff;
    width: 50%;
    overflow-y:scroll;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text1 {
    font-family: 'Secular One', sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: #1A1A1A;
    letter-spacing: 0.34px;
    text-align: right;
    direction: rtl;
    margin-bottom: 48px;
    margin-top: 48px;
}

.padding-col {
    flex-grow: 1;
    min-height: 48px;
}

.text2 {
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #1A1A1A;
    letter-spacing: 0.29px;
    text-align: right;
    direction: rtl;
}

.text3 {
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: #1A1A1A;
    letter-spacing: 0.29px;
    text-align: right;
    direction: rtl;
    border-top: 1px solid #999999;
    max-width: 600px;
    padding-top: 14px;
}

@media screen and (max-width: 700px) {
    .floating-image {
        display: none;
    }
    #wrapper {
        margin: 0;
        padding: 16px;
        width: 100%;
    }
    .text1 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.23px;
    }
    .text2 {
        font-size: 12px;
        line-height: 16px;
    }
    .text3 {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.23px;
    }
    #floatimage {
position: fixed; 
    top: 40px; 
    left: 20%;
}
}

  
